.card {
  background-color: #E8E6E2;
  border: 3px solid #a5a58d;
  border-radius: 12px;
  filter: drop-shadow(5px 5px 4px rgb(140, 136, 136));
}

.image {
  padding: 2px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}