
.article {
  background-color: #E8E6E2;
  border: 3px solid #a5a58d;
  border-radius: 12px;
  display: flex;
  filter: drop-shadow(5px 5px 4px rgb(140, 136, 136));
  flex-direction: row;
  justify-content: space-between;
  width: 91vw;
  flex-grow: 1;
  padding: 1.5vw;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 1.5vw;
  width: 75%;
  height: auto;
}

.article h1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}

.article span {
  margin-top: 0em;
  margin-bottom: 1em;
}

.image {
  max-width: 300px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .article {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .image {
    max-width: 150px;
    padding-top: 17px;
  }

  .infoContainer {
    width: 85%;
  }

  .accordion {
    background-color: #E8E6E2;
    border: none;
    filter: none;
    width: 100%;
    margin-bottom: 11px;
  }

}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .article {
    flex-direction: column;
    align-items: center;
  }

  .infoContainer {
    justify-content: space-between;
    width: 95%;
  }

  .image {
    max-width: 275px;
    padding: 13px;
  }

  .infoContainer {
    width: 89%;
  }
}