.article {
  background-color:rgb(206, 202, 202);
  border: 3px solid #61E8EB;
  border-radius: 12px;
  display: flex;
  filter: drop-shadow(10px 10px 4px rgb(140, 136, 136));
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 1650px;
  flex-grow: 1;
}