
.container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-image: linear-gradient(#ddbea9, #b7b7a4);
}

.main {
  padding: 6%;
  padding-top: 0;
  width: 100%;
  background-image: linear-gradient(#b7b7a4, #ddbea9);
}







